//Fonts
$font: 'Red Hat Display', sans-serif;

//Font Weights
$regular: 400;
$bold: 600;

//Colours
$background-colour: #1e1e1e;
$core-colour:  #f8f8f8;
$ui-light: $core-colour;
$ui-pale: darken($core-colour, 40%);
$ui-dark: rgb(30 30 30 / 90%);
$tint: #f1d65c;

//Sizes
$default-border: 2px;
$btn-border: 1px;
$window-frame-pos: -13px;
$input-border-radius: 4px;

//Borders
$border-light: $default-border solid $ui-light;
$border-light-btn: $btn-border solid $ui-light;
$border-pale: $default-border solid $ui-pale;
$border-tint: $default-border solid $tint;

//Backgrounds
$window-gradient: linear-gradient(0deg, rgba(245,213,70,0.05) 0%, rgba(30,30,30,0.6) 100%);
$box-background: repeating-linear-gradient(0deg, rgba(255,255,255,0) 0px, rgba(255,255,255,0) 2px, rgba(255,255,255,0.1) 2px, rgba(255,255,255,0.1) 4px),linear-gradient(to bottom, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.1) 100%);
$btn-background: linear-gradient(to bottom, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.1) 100%);
$ui-box-background: linear-gradient(to bottom, rgba(170,170,170,0.05) 0%, rgba(170,170,170,0.1) 100%);